

/*index html===========================================*/
  
#navbar{
  background-color: #09736A;
  top: -500px;
  transition: top .6s;
}


#link_home,#link_resume,#link_bio,#link{
  border-right: 3px solid white;
  padding-right:10px;
  margin-right: 1%;
	color:white;


  }

.jumbotron{
  	position: relative;
  	z-index: -101;
 	  color:white;
 	  height:450px;
 
  }

  #video-background{
  		position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        min-width:100%
        width auto;
        overflow: hidden;
        z-index: -100;
        
  }

#contact{
	 position:absolute;
   /*bottom:0;*/
  	padding:1rem;
  	background-color: #113E52;	
  	color:white;
}

#list{
	float:right;
  margin-left:10px;

  
}
#items{
  max-width: 100%;
}
h5{
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

a, p{
  font-family: 'Montserrat', sans-serif;
}


/*=====================================================*/
/*bio.html=============================================*/
/*portfolio.html=======================================*/
/*resume.html==========================================*/


