

/*index html===========================================*/
body {
    opacity: 1;
    transition: 2s opacity;
    background-repeat: no-repeat;
    background-size: 100%; 
    max-width: 100%;
    /*background-position: right top;*/
    background-attachment: fixed;
    /*display:none;*/

}
body.fade-out {
    opacity: 0;    
}
html {
    background-color: #F3A32A;
}

#cover{
  background-color: rgba(243,163,42,0.98);
  position: absolute;
  z-index: 1000;
}

#filler{
  background-color: rgba(243,163,42,0.98);
}

#front{
  visibility: hidden;
  background-image: url("../../assets/images/background_image.png");
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}

#loadingScr{
  background-color: rgba(243,163,42,0.98);
  
}



#first{
  background-repeat:no-repeat;
    /*background-size: 100%; */
    z-index: -100;
}
#sec{
    background-repeat:no-repeat;
    background-size: 100%; 
    z-index: -100;
}

#middle{
  background-color: rgba(255,255,255,0.5);

}

#content{
  background-color: rgba(255,255,255,0.8);
  font-size: 20px;
  padding: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
}


#title_color{
  color: white;
  padding-left: 0px !important;
}

#home_title{
  font-size: 150px !important;
  color: #09736A;
}

#hello_title{
  font-size: 58px !important;
  color: #113E52;
}

#navbar{
  background-color: #09736A;
  top: -500px;
  transition: top .5s;
}
#nav_trig{
  /*background-color: red;*/
}


#link_home,#link_resume,#link_bio,#link{
  border-right: 3px solid white;
  padding-right:10px;
  margin-right: 1%;
	color:white;


  }

/*.jumbotron{
  	position: relative;
  	z-index: -101;
 	  color:white;
 	  height:450px;
 
  }*/

  #video-background{
  		position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        min-width:100%
        width auto;
        overflow: hidden;
        z-index: -100;
        
  }

#contact{
	 position:absolute;
   /*bottom:0;*/
  	padding:1rem;
  	background-color: #113E52;	
  	color:white;
}

#list{
	/*float:right;*/
  margin-left:10px; 
}

#items{
  max-width: 100%;
}
h5{
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

a, p{
  font-family: 'Montserrat', sans-serif;
}


/*=====================================================*/
/*bio.html=============================================*/

#profile{
  width:100%;
}

/*portfolio.html=======================================*/

#portfolio-area {
  max-width: 100%;
  padding: 45px 10px 25px 31px;
  padding-top: 25px;
  /*margin-top: 30px;*/
  /*background-color: #fff;*/
  text-align: center;
}


.port-hr {
  /*margin-bottom: 40px;*/

}

.port-imgs {
  width: 20%;
  height: 20%;
  /*padding:2%;*/
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 1s ease;
  z-index: 10;

}

.port-imgs:hover{
  width:22%;
  height:22%;

}



#portfolio-area{
  z-index: 2 !important;
}

#middle{
  /*position: relative;*/
}


#middle video{
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        /*z-index: 0;*/
        transition: all 2s ease;

        
  }


.port-header{
  margin-left: 10%;
}

.info_Trivia, .info_Weath, .info_Pro2, .info_Pro3{
  display:none;
  font-family: 'Montserrat', sans-serif;
  color:black;
  font-size:24px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  /*background-color: rgba(233,233,233,.9);*/
  
}

.RESinfo_Trivia, .RESinfo_Weath, .RESinfo_Pro2, .RESinfo_Pro3, .T_RESinfo_Trivia, .T_RESinfo_Weath, .T_RESinfo_Pro2, .T_RESinfo_Pro3 {
  display: none;

}


.title{
  font-size:30px;
}

.skill{
  position: relative;
  right: 50%;
  left: 50%;
  width: 1000px;
  padding: 12px;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: 0 0 0 -490px;
  /*left: -1200px;*/
}

.skill_icon{
  margin-left: 1.5%;
  margin-right: 1.5%;
}


/*resume.html==========================================*/


#back{
  background-color: rgba(255,255,255,0.9);
  padding-top: 7%;
}

#resume_title{
  border-bottom: .5px solid black;

}

.links p{
  display: inline-block;
}

.one{
  position:absolute;
  right:0;
}
.two{
  position:absolute;
  right:40%;
}


.line p{
  display: inline-block;
}

.line{
    border-bottom: .5px solid black;

}

.end p{
  display:inline-block;
}

.exp p{
  display: inline-block;
}

.color{
  color: black;
  transition: all 1s ease;
}


.color:hover{
  text-decoration: underline;
}


/*====================================================*/

@media screen and (max-width: 700px){
  
  #home_title {
    font-size: 45px !important;
  }
  #skill1,#skill2,#skill3,#skill4,#skill5,#skill6{
    display: none;
  }
  .one, .two{
  position: unset !important;
  right: unset !important;
  text-decoration: underline;
  border-left: 1px solid #113E52;
  padding-left: 1px;
}
video{
  display: none !important;
}
}

/*iphone*/

@media screen and (max-width: 414px){
  
  #navbar{
    height: 55px;
  }

  h3{
    margin-top: -10px !important;
    margin-left: 10px;
    font-size: 20px !important;
  }

  #link_home, #link_resume{
    border-right: 0px solid white;
    margin-right: 25%;  
/*    padding-right: 25% !important;
*/  }

  #skill1,#skill2,#skill3,#skill4,#skill5,#skill6{
    display: none;
  }
  .skill{
    height: 10px !important;
  }

  .one, .two{
  position: unset !important;
  right: unset !important;
  border-left: 0px solid #113E52;

}
  
  #tr_img, #weath_img, #pro2_img, #pro3_img{
    height: 250px;
    width: 250px;
  }

  .RESinfo_Trivia, .RESinfo_Weath, .RESinfo_Pro2, .RESinfo_Pro3{
  display: block;
  margin: 35px;
  /*text-align: center;*/
}

.T_RESinfo_Trivia, .T_RESinfo_Weath, .T_RESinfo_Pro2, .T_RESinfo_Pro3 {
  display: block;

}


  #pro3_img{
    border: 1px solid #113E52;
  }


 
}








